/ p ピンを建てるには<a href=\"/users/sign_in\">ログイン</a>か<a href=\"/users/sign_up\">新規登録</a>を行ってください
p ピンを建てるには#{link_to "ログイン", :controller => "devise/registrations", :action => "new" }か#{link_to "新規登録", :controller => "devise/registrations", :action => "new"}を行ってください
