doctype html

html
  body
    .wrapper
      .sidebar
        h1
          |  福岡県福岡市博多区
        p
          tt
            |  人口&nbsp&nbsp&nbsp&nbsp
          tt
            |  232,795人
        p
          tt
            |  男女比&nbsp&nbsp&nbsp
          tt
            |  5:5
        p
          tt
            |  年齢比
          p
            tt
              |  &nbsp&nbsp10代以下&nbsp&nbsp&nbsp
            tt
              |  11%
          p
            tt
              |  &nbsp&nbsp20代&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            tt
              |  12%
          p
            tt
              |  &nbsp&nbsp30代&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            tt
              |  15%
          p
            tt
              |  &nbsp&nbsp40代&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            tt
              |  17%
          p
            tt
              |  &nbsp&nbsp50代&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            tt
              |  20%
          p
            tt
              |  &nbsp&nbsp60代以上&nbsp&nbsp&nbsp
            tt
              |  25%

        input style="margin-left: 20px; margin-bottom: 10px; width: 150px;" placeholder='キーワードで絞り込む'

                table style="color: white;"
                  thead
                    tr
                      th
                        |
                      th カテゴリ一覧
                  tbody
                  - @categories.each do |c|
                    tr
                      td 
                        input type='checkbox' name=c.CATEDORY_ID
                      td = c.NAME
		      

      .mapview
        #map style="width: 100%; height: 100%;"
          javascript:
            handler = Gmaps.build('Google'); 
            handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){ 
              markers = handler.addMarkers(#{raw @hash.to_json}); 
              handler.bounds.extendWith(markers); 
              handler.fitMapToBounds(); 
            });
 
            handler.callback = function(){
              document.getElementById('submit').addEventListener('click',function(){
                var geocoder = new google.maps.Geocoder();
                geocodeAddress(geocoder,handler)
              });

              function geocodeAddress(geocoder,handler){
                var address = document.getElementById('address').value;
                geocoder.geocode({'address':address},function(results,status){              
                  if (status == google.maps.GeocoderStatus.OK){
                    var latlng = new google.maps.LatLng(results[0].geometry.location.lat,results[0].geometry.location.lng)
                    handler.getMap().setCenter(results[0].geometry.location);
                    handler.getMap().setZoom(17);
                  }else{
                    alert('geocode error:' + status);
                  } 
                });
              }

              google.maps.event.addListener(handler.map.serviceObject, "click", function(e){
                console.log(e.latLng.lat(), e.latLng.lng());
                markers = handler.addMarkers([
                  {
                    "lat": e.latLng.lat(),
                    "lng": e.latLng.lng(),
                    "infowindow": "<input></input><b>が欲しい!</b><br><textarea placeholder='本文'></textarea><select style='margin-left: 10px' name='category'><option>カテゴリーの選択</option><option value='飲食関係'>飲食関係</option><option value='ファッション'>ファッション</option><option value='エンタメ'>エンタメ</option><option value='公共施設'>公共施設</option><option value='交通関係'>交通関係</option></select>",
                  }
                ]);
              });
            }();

