= form_for(count_want) do |f|
  - if count_want.errors.any?
    #error_explanation
      h2
        = pluralize(count_want.errors.count, "error")
        |  prohibited this count_want from being saved:
      ul
        - count_want.errors.full_messages.each do |message|
          li
            = message
  .field
    = f.label :IDEA
    = f.number_field :IDEA
  .field
    = f.label :CATEGORY_ID
    = f.number_field :CATEGORY_ID
  .field
    = f.label :TITLE
    = f.text_field :TITLE
  .field
    = f.label :COUNT
    = f.number_field :COUNT
  .actions
    = f.submit
