/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html{
  height: 100%;
}

body{
  height: 100%;
  margin: 0px;
}

header{
  height: 10%;
}

.menubar{
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-top:40px;
}

.menubar a {
  color: #BF1717;
}




.logo{
color: #BF1717;
font-size: 35pt;
font-weight: 800;
margin-right: 200px;
}

.address{
margin-left: 100px;

}

input[type=text]{
font-size:6em;
}

.id{
width: 30%;
height: 25px;
}
