/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "devise_bootstrap_views";

html{
  height: 100%;
}

body{
  height: 100%;
  margin: 0px;
  padding-top: 70px;
}

.devise-bs{
  margin-top: 30px;
}

header{
  height: 10%;
}

.menubar{
  height: 100%;
  display: flex;
  justify-content: space-between;
  color: #BF1717;
}

#logo{
  color: #BF1717;
  font-size: 50px;
  font-weight: 800;
  margin: 10px;
}

#logo:hover{
  color: #DF5757;
}

.search{
  padding-top: 2%;
}

.id{
  width: 30%;
  height: 25px;
}

.link{
  padding-top: 2%;
}

.navbar-right li{
  padding: 10px;
  padding-top: 30px;
}

.navbar-right li a{
  padding: 0;
}

ul.navbar-right{
  margin-right: 0px;
}
