// Place all the styles related to the LandingPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html body{
  background-color: #BF1717;
  color: #FFF;
}

h1 {
  font-weight: bold;
}

div.landing{
  height: 100%;
  width: 100%;
}

.space1 {
  margin-top: 50px;
}

.space2 {
  margin-top: 100px;
}

.space-object {
  margin: 15px;
}

.space-button {
  margin-top: 100px;
  margin-bottom: 100px;
}
