// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.back {
  margin: 50px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
}

.userid {
  margin-top: 25px;
  font-size: 25px;
  font-weight: bold;
}

.contact-button {
  @import "bootstrap";
  margin-top: 25px;
  margin-bottom: 25px;
}

