// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.icon_img {
  width: 200px;
  height: 200px;
  background: url('icon.png');
  background-size: cover;
}

.status {
  font-size: 15pt;
}
