// Place all the styles related to the WANTs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {
  width: 100%;
  height: 90%;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  flex-derection: row;

  justify-content: flex-start;
  align-items: flex-start;

}

.sidebar {
  background-color: #BF1717;
  width: 20%;
  height: 100%;
}

.sidebar h1 {
  color: #fff;
  font-size: 15pt;
  margin-left: 15px;
  margin-top: 15px;
}

.sidebar p {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 15px;
}

.sidebar b {
  font-size: 12pt;
}

.sidebar tt {
  color: #fff;
  font-size: 12pt;
}

.search {
  
}

.mapview {
  width: 80%;
  height: 100%;
}

.infowindow p{
  margin: 10px
}

p.button-delete{
  text-align: right;
  margin-right: 0;
}

select#categories_id{
  height: 20px;
}

textarea#wants_COMMENT{
  width: 220px;
}
